<% this.title='首页' ; %>
  <% include header %>
    <div class="padding">
      <div class="ui three column grid">
        <div class="eleven wide column">
          <h4 class="ui top attached block header"><i class="ui info icon"></i>公告</h4>
          <div class="ui bottom attached segment">
            <table class="ui very basic table">
              <thead>
                <tr>
                  <th>标题</th>
                  <th>时间</th>
                </tr>
              </thead>
              <tbody>
                <% for (let item of notices) { %>
                  <tr>
                    <td><a href="<%= item.url %>">
                        <%= item.title %>
                      </a></td>
                    <td>
                      <%= item.date %>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
          <h4 class="ui top attached block header"><i class="ui signal icon"></i>排名</h4>
          <div class="ui bottom attached segment">
            <table class="ui very basic center aligned table" style="table-layout: fixed; ">
              <thead>
                <tr>
                  <th style="width: 50px; ">#</th>
                  <th style="width: 170px; ">用户名</th>
                  <th>个性签名</th>
                </tr>
              </thead>
              <script data-cfasync="false">
                var lineHeight = 0;
                (function () {
                  var div = document.createElement('div');
                  div.style.position = 'fixed';
                  div.style.left = -10000;
                  div.style.visibility = 'hidden';
                  div.innerText = '测试，Test.';
                  document.body.appendChild(div);
                  lineHeight = div.clientHeight;
                })();
              </script>
              <tbody>
                <% let i=0; for (let user of ranklist) { ++i; %>
                  <tr>
                    <td><b>
                        <%= i %>
                      </b></td>
                    <td>
                      <a href="<%= syzoj.utils.makeUrl(['user', user.id]) %>">
                        <% if (show_realname && user.realname) { %>
                          <%= user.realname %>
                            <div style="font-size: 12px; color: #999; ">
                              <%= user.username %>
                            </div>
                            <% } else { %>
                              <%= user.username %>
                                <% } %>
                      </a>
                      <% if (user.nameplate) { %>
                        <%- user.nameplate %>
                          <% } %>
                    </td>
                    <td style="font-content">
                      <script id="user-infomation-script-<%= i %>" data-cfasync="false">
                        (function () {
                          var html = <% - serializejs(user.information) %>;
                          var elem = document.createElement('div');
                          elem.style = 'overflow: hidden; width: 100%; position: relative; ';
                          elem.style.maxHeight = lineHeight + 'px';
                          elem.innerHTML = html;
                          var imgs = Array.prototype.slice.call(elem.getElementsByTagName('img'));
                          for (var i in imgs) imgs[i].parentNode.removeChild(imgs[i]);
                          var script = document.getElementById('user-infomation-script-<%= i %>');
                          script.parentNode.replaceChild(elem, script);
                        })();
                      </script>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="right floated five wide column">
          <h4 class="ui top attached block header"><i class="ui quote left icon"></i>唐言（タンゴコト）</h4>
          <div class="ui bottom attached center aligned segment">
            <div class="ui active centered inline loader" style="display: none; " id="hitokoto-loader"></div>
            <script>
          <%
                let tangokoto = [
                  "你干什么滴？",
                  "cyr，你爸爸又给我打电话了！",
                  "这个英雄联盟 …… 是个什么玩意啊？",
                  "抓紧了！",
                  "小点声！",
                  "我从监控里看见你了！",
                  "取消你复赛资格！",
                  "你把你刚才的那个页面给我调出来！",
                  "我已经在后门看了你十分钟了！",
                  "晚上不睡早晨不起，上课在那里打盹！",
                  "调题的时候把 QQ 给我关上！",
                  "调几个题了？",
                  "恁就是不自觉！",
                  "没治了。",
                  "还想学不想学啊？！",
                  "不是不让你们玩游戏 ……",
                  "做题的时候不要讨论，像正式考试一样！",
                  "你这个笑声很有个性啊！",
                  "这还真是大白天见了鬼了！",
                  "这样的错误要是考试呢！？",
                  "要是下个大雨，就来好喽~~",
                  "这个 shq 怎么老是爆零呢？",
                  "这个于西印是谁交的？！"
                ];
          %>
                function tangokotoLoad() {
                  // document.write("Loading...");
                  var tangokoto = <% - JSON.stringify(tangokoto) %>;
                  if (Math.random() * 10 < 3.5) {
                    document.getElementById('hitokoto-content').innerHTML = (tangokoto[Math.floor(Math.random() * tangokoto.length)]);
                    console.log("Loaded Tangokoto-simplified by local.");
                  }
                  else {
                    $('#hitokoto-loader').show();
                    var jqxhr = $.getJSON('/lyoi-api/tangokoto')
                      .done(function (data) {
                        $('#hitokoto-loader').hide();
                        $('#hitokoto-content').text(data.hitokoto);
                        if (data.from) {
                          $('#hitokoto-from').text('——' + data.from);
                        }
                        console.log("Loaded Tangokoto from Tangokoto Public API.");
                      }).fail(function (xhr, status) {
                        document.getElementById('hitokoto-content').innerHTML = (tangokoto[Math.floor(Math.random() * tangokoto.length)]);
                        console.log("Tangokoto Public API was down, using local database.");
                      });
                  }
                }
            </script>
            <div style="font-size: 1em; line-height: 1.5em; " id="hitokoto-content">
              <script>
                tangokotoLoad();
              </script>
            </div>
            <div style="text-align: right; margin-top: 15px; font-size: 0.9em; color: #666; " id="hitokoto-from">——唐老师
            </div>
          </div>
          <h4 class="ui top attached block header"><i class="ui rss icon"></i>最近更新</h4>
          <div class="ui bottom attached segment">
            <table class="ui very basic center aligned table">
              <thead>
                <tr>
                  <th width="70%">题目</th>
                  <th width="30%">更新时间</th>
                </tr>
              </thead>
              <tbody>
                <% for (let problem of problems) { %>
                  <tr>
                    <td><a href="<%= syzoj.utils.makeUrl(['problem', problem.id]) %>">
                        <%= problem.title %>
                      </a></td>
                    <td>
                      <%= problem.time %>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
          <% if (fortune) { let color; if (fortune.fortune.indexOf('吉') !=-1) color='#0ccf00' ; else if
            (fortune.fortune.indexOf('凶') !=-1) color='#f25e65' ; else color='#444' ; %>
            <h4 class="ui top attached block header"><i class="ui magic icon"></i>今日运势</h4>
            <div class="ui bottom attached segment">
              <div style="height: 15px; "></div>
              <div class="ui two column center aligned padded grid">
                <div class="one column row">
                  <div style="text-align: center; ">
                    <div style="color: <%= color %>; font-size: 49px;">
                      <%- (user.sex==-1 ? '♀ ' : '♂ ' ) + fortune.fortune + (user.sex==1
                        ? ' <span style="transform: scaleX(-1); display: inline-block; ">♂</span>' : ' ♀' ) %>
                    </div>
                  </div>
                </div>
                <div class="two column row">
                  <div class="column">
                    <div style="color: #0ccf00; ">
                      <% if (fortune.good.length) { %>
                        <strong>宜：</strong>
                        <%= fortune.good[0].title %>
                          <br>
                          <span style="color: #888; font-size: 0.7em; ">
                            <%= fortune.good[0].detail %>
                          </span>
                          <div style="margin-top: 10px; "></div>
                          <strong>宜：</strong>
                          <%= fortune.good[1].title %>
                            <br>
                            <span style="color: #888; font-size: 0.7em; ">
                              <%= fortune.good[1].detail %>
                            </span>
                            <% } else { %>
                              <strong>诸事不宜<br>
                              </strong>
                              <% } %>
                    </div>
                  </div>
                  <div class="column">
                    <div style="color: #f25e65; ">
                      <% if (fortune.bad.length) { %>
                        <strong>忌：</strong>
                        <%= fortune.bad[0].title %>
                          <br>
                          <span style="color: #888; font-size: 0.7em; ">
                            <%= fortune.bad[0].detail %>
                          </span>
                          <div style="margin-top: 10px; "></div>
                          <strong>忌：</strong>
                          <%= fortune.bad[1].title %>
                            <br>
                            <span style="color: #888; font-size: 0.7em; ">
                              <%= fortune.bad[1].detail %>
                            </span>
                            <% } else { %>
                              <strong>万事皆宜<br>
                              </strong>
                              <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
              <h4 class="ui top attached block header"><i class="ui search icon"></i>搜索题目</h4>
              <div class="ui bottom attached segment">
                <form action="<%= syzoj.utils.makeUrl(['problems', 'search']) %>" method="get">
                  <div class="ui search" style="width: 100%; ">
                    <div class="ui left icon input" style="width: 100%; ">
                      <input class="prompt" style="width: 100%; " type="text" placeholder="ID / 题目名 …" name="keyword">
                      <i class="search icon"></i>
                    </div>
                    <div class="results" style="width: 100%; "></div>
                  </div>
                </form>
              </div>
              <h4 class="ui top attached block header"><i class="ui calendar icon"></i>近期比赛</h4>
              <div class="ui bottom attached <% if (!contests || !contests.length) { %>center aligned <% } %>segment">
                <% if (!contests || !contests.length) { %>
                  还没有举行过任何比赛
                  <% } else { %>
                    <table class="ui very basic center aligned table">
                      <thead>
                        <tr>
                          <th>比赛名称</th>
                          <th>开始时间</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (let contest of contests) { let now=syzoj.utils.getCurrentDate(); let tag='' ; %>
                          <tr>
                            <% if (now < contest.start_time) { %>
                              <% tag='<span class="ui header"><div class="ui mini red label">未开始</div></span>' %>
                                <% } else if (now>= contest.start_time && now < contest.end_time) { %>
                                    <% tag='<span class="ui header"><div class="ui mini green label">进行中</div></span>'
                                      %>
                                      <% } else { %>
                                        <% tag='<span class="ui header"><div class="ui mini grey label">已结束</div></span>'
                                          %>
                                          <% } %>
                                            <td><a href="<%= syzoj.utils.makeUrl(['contest', contest.id]) %>">
                                                <%= contest.title %>
                                                  <%- tag %>
                                              </a></td>
                                            <td>
                                              <%= syzoj.utils.formatDate(contest.start_time) %>
                                            </td>
                          </tr>
                          <% } %>
                      </tbody>
                    </table>
                    <% } %>
              </div>
              <% if (typeof links !=='undefined' && links && links.length) { %>
                <h4 class="ui top attached block header font-content"><i class="ui linkify icon"></i>友情链接</h4>
                <div class="ui bottom attached segment">
                  <ul style="margin: 0; padding-left: 20px; ">
                    <% for (let link of links) { %>
                      <li><a href="<%= link.url %>">
                          <%= link.title %>
                        </a></li>
                      <% } %>
                  </ul>
                </div>
                <% } %>
        </div>
      </div>
    </div>
    <script>
      $(function () {
        $('.ui.search').search({
          debug: true,
          saveRemoteData: false,
          apiSettings: {
            url: '/api/v2/search/problems/{query}',
            cache: false
          },
          fields: {
            title: 'name'
          }
        });
      });
    </script>
    <% include footer %>
